<div class="container">
<%= form_with scope: :article, url: articles_path, local: true do |form| %>
    <% if @article.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@article.errors.count, "error") %> prohibited
          this article from being saved:
        </h2>
        <ul>
          <% @article.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="article_new">
      <h1>新規記事投稿画面</h1>
      <p>
        <%= form.label :記事タイトル %><br>
        <%= form.text_field :title %>
      </p>
      <p>
        <%= form.label :本文 %><br>
        <%= form.text_area :text %>
      </p>
      <p>
        <%= form.submit :更新 %>
      </p>
    </div>
<% end %>

</div>
